1) What is Python and why is it popular?

- Python is a high- level and interpreted programming language
- Python is well know for its simplicity and readbility
- Python is a good choice for benginner and experienced programmers
- Python is indentation language
- Python is popular because it is a open-source,easy to learn and simple syntax

2) What is an IDE and name a few popular Python IDEs?

- IDE stands for Intergrated Development Environment
- IDE is a toolwhere we used to write python code and run the code
- Jupiter Notebook, VS code, Google collab,Pycharm are the some popular pytohn IDEs

3) What are the rules for naming variables in Python?

- Variable must consists of ALPHA NUMRIC characters(a-z,A-Z)
- Variables can starts with underscore(_)
- variables are case-sensitive(python,PYTHON,Python)
- we cannot use reserved words(keywords) as a variables
- variables cannot start with numbers

4) How do you assign multiple values to multiple variables in a single line?

In [9]:
# we can assign multiple values to multiple variavles in single line 
python,java,c,r=(1,2.12,3.14,"error")
print(python,java,c,r)

1 2.12 3.14 error

5) Can you use Python keywords as variable names? Why or why not?

- We can not use Python Keywords as variable names
- keywords are reserved words in python
- In python we use keywords to define th syntax of a code where that are used to commad the code
- we have 35 keywords in python where we can not use those as keywords

6) Why are comments important in programming?

- In programming languages comment are used to determine the purpose of code which can given by the prograammer
- comment can help the new user or programmer to understand the code and purpose of the statement
- In Python the comments are represented by hash "#"
- comment are reprsented by different symbols in differnet languages

7) What are the basic data types in Python?

- Python the basic data types are classified into 4 types
- They also called as primitive data types
- Basic data types are integer,float,complex,boolean

8) How do you convert a string to an integer in Python?

In [28]:
a='15'
print(type(a))
b=int(a)
print(type(b))

<class 'str'>
<class 'int'>

9) What is the difference between int and float?

- integer is used to stoe only numbers without any decimals
- integer can be positive, zero and negitive numbers
- Example: 10,0,-15
- float values are decimal values
- float values can be postive and negitive
- exampele: -11.2,3.14,2.567

10) How do you check the data type of a variable?

by using "type()" command we can check data types of a variable

11) How do you add an element to a list?

- By using list.append() and list.extend() we can add elements to the list

12) How do you create a tuple with one element?

In [36]:
tuple=(123,)
print(type(tuple))

<class 'tuple'>

13) How do you access a value in a dictionary using a key?

- By using key() method we can able to acces a value ina dictionary

14) How do you access elements in a list?

In [41]:
#By using index,slicng we can access elements in the list
list=[1,2,3,4]
print(list[0])

1

15) How do you access a character in a string?

In [48]:
string= "hello world"
print(string)
print(type(string))

hello world
<class 'str'>

16) How do you format strings in Python?

In [53]:
# In python strings are formatted by single,double and triple quotes'',"",""""""
string= 'hello world'
print(string)
print(type(string))

hello world
<class 'str'>

17) What is a tuple and how is it different from a list?

- tuples are represnted by () and seprated by (,) commas
- tuples are immutable
- where list are mutable

18) How do you concatenate two tuples?

In [58]:
tup1=(1,2,3)
tup2=(4,5)
con=(tup1+tup2)
print(con)

(1, 2, 3, 4, 5)

19) How do you access values in a dictionary?'

In [65]:
#by using [] and get method we can access the dictinory
dic={"a":"apple","b":"banana"}
a=dic["b"]
print(a)

banana

20) How do you add a key-value pair to a dictionary?

In [68]:
dic={"a":"apple","b":"banana"}
dic["a"]="app"
dic["apple"]="ann"
print(dic)

{'a': 'app', 'b': 'banana', 'apple': 'ann'}

21) How do you remove a key-value pair from a dictionary?

In [73]:
dic={"a":"apple","b":"banana"}
del dic["a"]
print(dic)

{'b': 'banana'}

22) How do you add an element to a set?

In [76]:
a={1,2,3,4}
a.add(5)
print(a)

{1, 2, 3, 4, 5}

23) How do you remove an element from a set?

In [81]:
a={1,2,3,4}
a.discard(5)
print(a)

{1, 2, 3, 4}

24) What are the common set operations in Python?

-

25) Write a Python program to find the index of an element in a tuple?

In [90]:
tup=(1,3.14,"apple","banana")
print(tup.index("apple"))

2